.calculator-display {
  background-color: #101012;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 4rem;
  height: 21%;
  padding-right: .3em;
  width: 100%;
}

/* ----- */

.calculator-controls {
  height: 79%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "calculator-numpad calculator-operations";
}

/* ----- */

.calculator-numpad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  grid-template-areas: "calculator-clear" "calculator-numbers" "calculator-zero";
  grid-area: calculator-numpad;
}

.calculator-clear { grid-area: calculator-clear; }

.calculator-zero { grid-area: calculator-zero; }

.calculator-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "seven eight nine" "four five six" "one two three";
  grid-area: calculator-numbers;
}

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }


/* ----- */

.calculator-operations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "divide" "multiply" "minus" "plus" "equals";
  grid-area: calculator-operations;
}

.divide { grid-area: divide; }

.multiply { grid-area: multiply; }

.minus { grid-area: minus; }

.plus { grid-area: plus; }

.equals { grid-area: equals; }
