.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  color: white;
  font-size: 4rem;
}

.number {
  background-color: #17181c;
  color: #e8e7e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.operator:hover,
.number:hover {
  cursor: pointer;
}

.calculator-clear {
  color: #d5d2cd;;
  font-weight: lighter;
  font-size: 2.5rem;
}
