.footer {
  margin-top: 5px;
  font-size: 1.3rem;
  color: grey;
}

.footer a {
  margin-left: 10%;
}

.footer a:first-child i {
  transform: rotateY(180deg);
}

.footer span {
  font-size: .8em;
  vertical-align: middle;
  margin-left: 5px;
}
